body {
    /* background-image: linear-gradient(to right, #1e3c72, #2a69ac);  */
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

a {
    text-decoration: none;
    color: #1b1b1b; 
}

.navbar {
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background: linear-gradient(to right, #6a11cb, #2575fc);  */
    color: white; /* Change text color to white for better contrast */
}

.navbar a {
    color: white; /* Ensure links are white */
}

.main{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.divcard{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}



.card {
    transition: transform 0.2s; 
}
.card {
    transition: none !important; 
    animation: none !important; 
}
.card:hover {
    transform: scale(1.05); 
}

.card-img-top {
    height: 200px; 
    object-fit: cover; 
}

btn-custom-green {
    background-color: #28a745; /* Bootstrap's success green */
    color: white; /* Text color */
}

.btn-custom-green:hover {
    background-color: #218838; /* Darker shade for hover effect */
}

.hero{
 background-color: #218838;
}
.subdiv {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: center; /* Center items horizontally */
    padding: 20px; /* Add some padding */
    margin: 20px 0; /* Margin above and below */
}

.subdiv a {
    display: flex; /* Flex for centering content */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    width: 150px; /* Set a fixed width for the cards */
    height: 50px; /* Set a fixed height for the cards */
    margin: 10px; /* Space between links */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    transition: transform 0.2s, background-color 0.3s; /* Smooth transition */
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.subdiv a:hover {
    transform: translateY(-3px); /* Lift effect on hover */
    background-color: #495057; /* Darker shade on hover */
}